@model CoffeeShopsCodeFirst.Models.CoffeeShop

@{
    ViewBag.Title = Model.CoffeeShopName;
}



<div class="row reviewheader">
  
    <div class="row">
        <div class="col-lg-6">
            <img src= @Model.CoffeeShopImage height="350" width="550">
        </div>

        <div class="col-lg-6">
            <label style="color: darkred; font-size: 45px;">
                @Model.CoffeeShopName
            </label>
            <br/>
            <label>
              <a style="font-size: 15px;color: darkred;" href="http://@Model.CoffeeShopWebsite" target="_blank">@Model.CoffeeShopWebsite</a> 
            </label>
            <label style="font-size:19px">
                @Model.CoffeeShopDescription
            </label>
            <label style="font-size:20px; color: darkred;">
                Ми пропонуємо:
            </label>
            <br />
            <label style="font-size:17px">
                @Model.CoffeeShopOutdoorSeating
            </label>
            <br />
            <label style="font-size:17px">
               @Model.CoffeeShopAlcoholLicence
            </label>
            <br />
            <label style="font-size:17px">
               Wi-Fi: @Model.CoffeeShopWiFi
            </label>



        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <br/>
            <label style="font-size:20px; color: darkred">
               Завітайте до нас:
            </label>
            <br />
            <label style="font-size:17px">
                @Model.CoffeeShopTime
            </label>
            <br />
            <label style="font-size:17px">
                @Model.CoffeeShopAdress
            </label>
            <br />
            <label style="font-size:17px">
                @Model.CoffeeShopNumber
            </label>
        </div>
        <div class="col-lg-6">  
            <div id="map_canvas"></div>
        </div>
    </div>
    <hr />
    
     
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwV7tYEh76wFUC-8ZVek2g4pxMwxoPhH4"></script>
<script src="~/Scripts/map.js"></script>