@model IEnumerable<CoffeeShopsCodeFirst.Models.CoffeeShop>
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/MyJS.js"></script>
<div class="myheader">
    <img src="~/Content/cup.jpg" width="150" height="150" />
    <label>
        Ваш гід по кав'ярням Львова
    </label>

</div>
<div class="row search">
    <form class="form-inline" method="post" action="/Home/Index">

        <div class="form-group">
            <input type="text" class="form-control" name="name" id="Name" placeholder="Назва...">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="rate" id="Rate" placeholder="Рейтинг...">
        </div>
        @*<div class="checkbox">
           <label>
               <input type="checkbox"  name="alcohol" id="Alcohol">
               Алкогольний бар
            </label> 
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" class="form-control" name="terasa" id="Terasa">
               Тераса
            </label>
        </div>*@

        <button type="submit" class="btn btn-default">Шукати</button>
    </form>
</div>

<div class="row ">
    @*<h3>Виберіть файл для загрузки</h3>

        <form action="@Url.Action("Cabinet", "Home")" method="post" enctype="multipart/form-data">
            Файл -
            <input type="file" name="file" />
            <br />
            <input type="submit" value="Відправити фотографію" />
            <label>@ViewBag.Message</label>
        </form>*@
    @foreach (var shop in Model)
    {
        string link = "/CoffeeShops/Review?id=" + shop.CoffeeShopID;
        string image = "/Content/" + shop.CoffeeShopName + 350 + ".jpg";
        <a href="@link" style="display:block">


            <div class="col-lg-6 cofeesection" style="background-image:url(@image)">
                <div class="row csheader">
                    <label>
                        @shop.CoffeeShopName
                    </label>
                </div>

                <div class="row csfooter">
                    <label>
                        @shop.CoffeeShopNumber
                    </label>

                    <label>
                        @shop.CoffeeShopTime
                    </label>

                </div>

            </div>
        </a>
    }




</div>
